<?xml version="1.0"?>

<launch>
  <!--
  <node name="mir_pose_unidriver" pkg="unification_roscontrol" type="mir_pose_unidriver.py">
  </node>
  
  <node name="mir_mode_unidriver" pkg="unification_roscontrol" type="mir_mode_unidriver.py">
  </node>
  -->
  <node name="ur_pose_unidriver" pkg="unification_roscontrol" type="ur_pose_unidriver.py">
  </node>
  <node name="ur_mode_unidriver" pkg="unification_roscontrol" type="ur_mode_unidriver.py">
  </node>
  <node name="agv_alvar_unidriver" pkg="unification_roscontrol" type="agv_alvar_unidriver.py">
  </node>
   <node name="recu_unidriver" pkg="unification_roscontrol" type="recu_unidriver.py">
  </node>
   <node name="aecu_unidriver" pkg="unification_roscontrol" type="aecu_unidriver.py">
  </node>
   <node name="hecu_unidriver" pkg="unification_roscontrol" type="hecu_unidriver.py">
  </node>

  
  
</launch>
